<ion-content>

  <div class="bg-cadastro">
    <ion-icon class="arrow-back" name="chevron-back-outline"></ion-icon>

    <img class="img-cadastro" src="../../assets/user_group.svg" alt="imagem">


    <div class="inputs-div mg-top-30">
      <ion-item class="input-style">
        <ion-label position="stacked">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="input-style">
        <ion-label position="stacked">Nome</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="input-style">
        <ion-label position="stacked">Telefone</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>

    <ion-button class="button-style">Cadastrar</ion-button>

    <p class="registrado" [routerLink]="['/login']">
      Já tenho uma conta
    </p>
  </div>
</ion-content>