<ion-content>

  <div class="bg-lobby">

    <img class="img-lobby" src="../../assets/2.png" alt="imagem">

    <ion-grid>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          <ion-button class="button-style">
            <img src="../../assets/car.svg" alt="Carro">
            <p class="categoria">Motorista</p>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="button-style" [routerLink]="['/login']">
            <img src="../../assets/user-car.svg" alt="Usuario">
            <p class="categoria">
              Passageiro
            </p>
          </ion-button>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
    </ion-grid>
   <div >
    <p class="termos">Termos de Uso</p>
  </div>
  </div>

</ion-content>