<ion-content>

  <div class="bg-login">
    <ion-icon class="arrow-back" name="chevron-back-outline"></ion-icon>

    <img class="img-login" src="../../assets/Login.svg" alt="imagem">

    <ion-item class="input-number">
      <ion-label class="input-number-1">Digite seu número:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button class="button-style">Confirmar</ion-button>

    <p class="cadastro" [routerLink]="['/cadastro']">
      Quero me cadastrar
    </p>
  </div>

</ion-content>