<ion-header>
  <ion-toolbar>
    <ion-icon [routerLink]="['../folder/inbox']" class="arrow-back" name="chevron-back-outline"></ion-icon>
    <ion-title style="font-weight: 400; font-size: 16px;">Minhas corridas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-corridas">


      <ion-card>
        <div class="flex">
          <div class="img-perfil"></div>
          <div>
            <p style="margin: 0; color: #0077e3; font-weight: 700;">
             Murilo
            </p>
            <p style="margin: 0; font-size: 12px; color: #25054d;">
              Chevrolet Onix/ IPO-5265
            </p>
          </div>
          <p style="font-size: 18px; color: #0077e3; font-weight: 700;"> R$18,95</p>
        </div>
        <div style="margin-left: 20px; font-size: 12px;">
          <p>
            Inicio: 03/12/2020 às 01:34
          </p>
          <p>
            De: Avenida Assis Brasil, 1960 - Cidade Alta, Alegrete/RS, 97541-261
          </p>
          <p style="color: #0077e3; font-weight: 700;">
            FINALIZADA COM SUCESSO
          </p>
        </div>
      </ion-card>

      <ion-card>
        <div class="flex">
          <div class="img-perfil"></div>
          <div>
            <p style="margin: 0; color: #0077e3; font-weight: 700;">
             Murilo
            </p>
            <p style="margin: 0; font-size: 12px; color: #25054d;">
              Chevrolet Onix/ IPO-5265
            </p>
          </div>
          <p style="font-size: 18px; color: #0077e3; font-weight: 700;"> R$18,95</p>
        </div>
        <div style="margin-left: 20px; font-size: 12px;">
          <p>
            Inicio: 03/12/2020 às 01:34
          </p>
          <p>
            De: Avenida Assis Brasil, 1960 - Cidade Alta, Alegrete/RS, 97541-261
          </p>
          <p style="color: #0077e3; font-weight: 700;">
            FINALIZADA COM SUCESSO
          </p>
        </div>
      </ion-card>

      <ion-card>
        <div class="flex">
          <div class="img-perfil"></div>
          <div>
            <p style="margin: 0; color: #0077e3; font-weight: 700;">
             Murilo
            </p>
            <p style="margin: 0; font-size: 12px; color: #25054d;">
              Chevrolet Onix/ IPO-5265
            </p>
          </div>
          <p style="font-size: 18px; color: #0077e3; font-weight: 700;"> R$18,95</p>
        </div>
        <div style="margin-left: 20px; font-size: 12px;">
          <p>
            Inicio: 03/12/2020 às 01:34
          </p>
          <p>
            De: Avenida Assis Brasil, 1960 - Cidade Alta, Alegrete/RS, 97541-261
          </p>
          <p style="color: #0077e3; font-weight: 700;">
            FINALIZADA COM SUCESSO
          </p>
        </div>
      </ion-card>
    
  </div>
</ion-content>