<ion-header>
  <ion-toolbar>
    <ion-icon (click)="close()" class="close" name="close-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar style="color: gray;" placeholder="Insira o seu local de embarque"></ion-searchbar>
  <ion-searchbar style="color: gray;" placeholder="Para onde vamos?"></ion-searchbar>
  <p style="color: gray; margin-left: 20px;">Casa</p>
  <p style="color: gray; margin-left: 20px;">Trabalho</p>
  <p style="color: gray; margin-left: 20px;">Endereços salvos</p>
</ion-content>
